extends layout
block content
    h1= title
    - let jeepid = toShow._id
    - let Jeep_name = toShow.Jeep_name
    - let Jeep_color = toShow.Jeep_color
    - let Jeep_price = toShow.Jeep_price
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{jeepid}
    - let actionid = "/resource/jeeps/" + jeepid
    form(id='jeepForm', action= actionid, method="PUT")
        div.form-group
            label.jeepAttr(for='Jeep_name') jeep  name
            input#Jeep_name(type='text', name='Jeep_name', value= Jeep_name )
        div.form-group
            label.jeepAttr(for='Jeep_color') jeep  color
            input#Jeep_color(type='text', name='Jeep_color', value= Jeep_color )
        div.form-group
            label.jeepAttr(for='Jeep_price') jeep  price
            input#Jeep_price(type='number', name='Jeep_price', value= Jeep_price )
        input(type="submit")
    script.
        document.forms['jeepForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeded")
            // TODO handle body
            }).catch((error) => {
            // TODO handle error
                alert("Update failed " + error )
            });
        });